{{> _add_btn}}
<h3>Welcome {{name}}</h3>
{{#if tech}}
    <p>Here are the technologies currently in your stack:</p>
    
        <ul class="collection profile-collection">
            {{#each tech}}
               
                <li class="collection-item avatar">
                <img src="images/{{techName}}.png" alt="" class="circle">
                <a href="/tech/{{_id}}"><span class="title">{{techName}}</span></a>
                <p>Category: {{category}} <br>
                    Type: {{type}}
                </p>
                <div class="collection-btns secondary-content">
                    <a href="/tech/{{_id}}" class="btn btn-float">
                                <i class="fas fa-eye"></i> Track
                    </a>
                    <form action="/tech/{{_id}}" id="delete-form">
                        <button type="submit" class="btn red delete-tech-btn" data-id="{{_id}}"> 
                            <i class="fas fa-trash" data-id="{{_id}}"></i>
                        </button>
                    </form>
                </div>
                </li>
            {{/each}}
        </ul>
    <script src="js/profile.js"></script>
{{else}}
    <p>You are not currently tracking any technologies.</p>
{{/if}}