 <div class="row">
    <h3><img src="../images/{{techName}}.png" alt="" height="40" width="40"> {{techName}}</h3>
</div>
  
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6 topic-input-field">
          <i class="material-icons prefix">keyboard</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Add a new topic</label>
        </div>
        <div class="valign-wrapper">
            <button class="btn waves-effect waves-light" type="submit" id="add-topic-btn" data-id="{{techID}}">Add Topic
              <i class="material-icons right">add</i>
            </button>
        </div>
      </div>        
    </form>
  </div>
  
  {{#if topic}}
<div class="row">
 <ul class="collapsible popout">
  {{#each topic}}
    <li data-active-id="{{_id}}">
      <div class="collapsible-header"><i class="fa fa-chevron-down"></i>{{topic}}</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s12 session-input-field valign-wrapper">
            <h6>Log a session:</h6>
            <select class="log-session-field-{{_id}}">
              <option value="" disabled selected>Choose your rating</option>
              <option value="1">Very Hard</option>
              <option value="2">Somewhat Hard</option>
              <option value="3">Average</option>
              <option value="4">Somewhat Easy</option>
              <option value="5">Very Easy</option>
            </select>
            <button class="btn waves-effect waves-light log-session-btn" data-id="{{_id}}" data-tech="{{tech}}" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
        {{#if history}}
        <h6>Latest Sessions</h6>
        <div class="row history-container">
        {{#each (truncateArray history) as |item|}}
        
          <ul>
            <li><span>Date:</span> {{item.date}} at {{item.time}}</li>
            <li><span>Rating:</span> {{item.rating}} <i class="fa-solid fa-circle" data-rating="{{item.rating}}"></i></li>
          </ul>
        
        {{/each}}
        </div>

        <div class="topic-btm">
          <button data-target="modal{{_id}}" class="btn waves-effect waves-light btn-small modal-trigger">View All  <i class="fa-regular fa-eye"></i></button>
          <div>
            <button type="submit" class="btn green green-edit-btn modal-trigger" data-id="{{_id}}" data-target="edit-modal-{{_id}}"> 
              <i class="fas fa-edit" data-id="{{_id}}"></i>
            </button>
            <button type="submit" class="btn red delete-topic-btn modal-trigger" data-id="{{_id}}" data-target="confirmation-modal-{{_id}}"> 
              <i class="fas fa-trash" data-id="{{_id}}"></i>
            </button>
          </div>
        </div>

         <div id="modal{{_id}}" class="modal session-history-modal">
           
          <div class="modal-content">
            <h5>Session History</h5>
            <h6>{{../techName}}: {{topic}}</h6>
            
            {{#each (reverseArray history) as |item|}}
           
              <ul class="collection session-collection history-container">
                <li><span>Date:</span> {{item.date}} at {{item.time}}</li>
                <li><span>Rating:</span> {{item.rating}} <i class="fa-solid fa-circle" data-rating="{{item.rating}}"></i></li>
              </ul>
            {{/each}}
            
          </div>
          
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>

        <div id="confirmation-modal-{{_id}}" class="modal">
          <div class="modal-content">
            <h4>Are You Sure?</h4>
            <p>If you delete this topic, you'll lose the history logs associated with it.</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">No, Cancel</a>
            <button class="waves-effect waves-green btn-flat confirmation-btn" data-topic="{{_id}}">Yes, Delete</a>
          </div>
        </div>

        <div id="edit-modal-{{_id}}" class="modal">
          <div class="modal-content">
            <h5>Edit Topic</h5>
           <div class="input-field col s6 topic-edit-field">
            <i class="material-icons prefix">keyboard</i>
            <textarea id="icon_prefix2-{{_id}}" class="materialize-textarea" >{{topic}}</textarea>
            <label for="icon_prefix2-{{_id}}">Change topic</label>
          </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Exit</a>
            <button class="waves-effect waves-green btn-flat edit-btn" data-topic="{{_id}}">Save Changes</a>
          </div>
        </div>
      
         {{else}}
         <div id="confirmation-modal-{{_id}}" class="modal">
          <div class="modal-content">
            <h4>Are You Sure?</h4>
            <p>If you delete this topic, you'll lose the history logs associated with it.</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">No, Cancel</a>
            <button class="waves-effect waves-green btn-flat confirmation-btn" data-topic="{{_id}}">Yes, Delete</a>
          </div>
        </div>
        
         <div class="topic-btm">
          <span>You have not recorded any sessions for this topic.</span>
          <div>
            <button type="submit" class="btn green green-edit-btn modal-trigger" data-id="{{_id}}" data-target="edit-modal-{{_id}}"> 
              <i class="fas fa-edit" data-id="{{_id}}"></i>
            </button>
            <button type="submit" class="btn red delete-topic-btn modal-trigger" data-id="{{_id}}" data-target="confirmation-modal-{{_id}}"> 
              <i class="fas fa-trash" data-id="{{_id}}"></i>
            </button>
          </div>
          </div>
         {{/if}}
      </div>
      
    </li>
    
    {{/each}}
  </ul>
 </div> 
  {{else}}
    <p>You have not added any topics for this technology.</p>
  {{/if}}

  <script src="../js/overview.js"></script>